<header id="home">
    <div class="container-fluid px-0"
    data-aos="fade"
    data-aos-offset="500"
    data-aos-easing="ease-in-sine">

       <div class="row text-center mx-0 px-0">
           <div class="col-12">   
               <div class="phrase">Julien Goscicki</div>
           </div>
           <div class="col-12 logo-jg d-block d-xl-none">
              <img src="./assets/img/logo-JG-w.svg"  id="logo-jg" alt="Logo JG">
           </div>        
 <!--       <div class="d-block d-md-none">
               <div class="titre-principal">
                   <p class="  ">Graphiste <br> Web Designer <br> Développeur</p>
               </div>
            </div>  
            <div class="col-12 d-block">
                <a href="#apropos" class="js-scrollTo "><i class="fa fa-chevron-down fa-1x"></i></a>    
            </div> -->
               <div class="col-12  d-none d-xl-block py-5 mx-0 px-0 h-25 ">
                   <div id="parallax-container"> 
                       <div class="parallax-wrapper">
                       <div class="parallax-layer background-picture" data-depth="0"></div>
                       <div class="parallax-layer under-logo " data-depth="0.8"></div>
                       <div class="parallax-layer  logo" data-depth="1.6"></div>
                       </div>             
                   </div>
                </div>    
           </div>
       </div>
       <!--Fin Container-fluid-->
   </header>