<app-modal></app-modal>
<!-- PORTFOLIOS ET TECHNOS-->

<div id="dev"></div>
<div class="py-3">
        <div class="container-fluid  works-container h-100 mt-4">   
            <div class="row h-100 mt-4 pt-4">
                <!-- Titre 1 -->
                <div class="offset-0 col-12  white border border-white  text-left">
                    <div class="container">
                        <div class="row py-5">
                            <div class="col-12  col-sm-3    
                                        text-center
                                        pr-lg-4 
                                        white border border-white ">
                                <div class="contain">                      
                                   <div class="polyg">
                                       <img src="../../../assets/img/polygone-titre1.jpg" class="img-fluid" alt="photo Symfony 4 SymBNB">
                                    </div>
                                   <div class="centered"><i class="fas fa-code"></i></div>
                                </div>
                             </div>
                             <div class="title-part-1 col-12 col-sm-9 col-md-9 col-lg-9          
                                         text-center text-sm-left
                                         mt-0 pt-4 pt-sm-0  pt-md-4 mt-sm-3 mt-md-2 mt-lg-2 mt-xl-1
                                         white border border-white">           
                                <div class="mt-sm-0 mt-md-1 mt-lg-0"><h1>Développement</h1></div>
                                <div class="trait mt-sm-0 mt-md-2 mt-lg-1 mt-xl-1 text-center "></div>
                            </div>
                        </div>
                     </div>
                </div>
               <!--
                <svg width="178" height="204">
                   <polygon points="88.5,2 176,52.5 176,152.5 88.5,202 1,152.5 1,52.5"
                   stroke="black" stroke-width="3" fill="white"></polygon>
                        
                </svg>
               -->
       
               <!--PORTFOLIO DEVELOPPEMENT-->
               <!---->
                <div class="container-fluid px-sm-5">
                    <div class="row">
                         <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 white text-center py-5">
                            <p>APP MOBILE CORDOVA</p>                   
                            <h2 class="title-part-2 pb-5">THREE.JS</h2>  
                           <div class="col-12 d-none d-lg-block" data-aos="flip-left" data-aos-duration="2000">
                               <a href="#Modal3js" data-toggle="modal"><img src="../../../assets/img/screen-VR.jpg" class="p-3 mb-5 img-fluid hoverable"></a>                          
                           </div>   
                           <div class="col-12 d-block d-lg-none">
                               <a href="#Modal3js" data-toggle="modal"><img src="../../../assets/img/screen-VR.jpg" class="p-3 mb-5 img-fluid hoverable"></a>                          
                           </div>  
                            <p>PROJET 3D ET 360° DE</p>
                            <h2 class="title-part-3">réalité virtuelle</h2>
                            <p class="title-part-4">The House of the Ballenesque</p>
                            <p class='text-left pt-2  px-4 px-sm-2 px-md-1 px-lg-2 px-xl-2'>
                                <strong>
                                Durant mon expérience professionnelle chez <em>Panoramic Perception</em>, il m'a été confié de travailler sur un projet VR.</strong>
                                <br><br>
                                <a href="#nogo" class="suite btn-suite" data-target="codevr"> Lire la suite</a>
                                <span class="codevr" style="display:none;">                           
                                        L'objectif était de réaliser une application mobile fonctionnelle en integrant les photos panoramiques de M. R. Gramolini prises sur les lieux de l'exposition de M. R. Ballen ; ainsi que des éléments graphiques afin de produire plusieurs scènes interactives en 3D avec le 
                                        <small>framework Cordova, la librairie Three.js, Javascript les langages HTML, CSS.</small>
                                </span>
                            </p>      
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 white  text-center py-5">
                            <p>CODAGE BACK-END</p>                       
                            <h2 class="title-part-2 pb-5">SYMFONY 4</h2>
                            <div class="col-12 d-none d-lg-block" data-aos="flip-right" data-aos-duration="2000">
                               <a><img src="../../../assets/img/screen-symBNB.jpg" class="p-3 mb-5 img-fluid hoverable" alt="photo Symfony 4 SymBNB" data-toggle="modal" data-target="#ModalSymbnb"></a>                           
                           </div>
                           <div class="col-12 d-block d-lg-none">
                               <a><img src="../../../assets/img/screen-symBNB.jpg" class="p-3 mb-5 img-fluid hoverable" alt="photo Symfony 4 SymBNB" data-toggle="modal" data-target="#ModalSymbnb"></a>                           
                           </div>
                               <p>PROJET DE</p>
                            <h2 class="title-part-3">LOCATION</h2>
                            <p class="title-part-4">IMMOBILIERE</p>
                            <p class='text-left pt-2 px-4 px-sm-2 px-md-1 px-lg-2 px-xl-4'>
                                <strong >Ce projet de location d'appartements ou de maisons est tout droit inspiré d'airbnb.</strong><br><br>                          
                                <a href="#nogo" class="suite btn-suite" data-target="loc"> Lire la suite</a>
                                <span class="loc" style="display:none;">                  
                                Cette plateforme permet de mettre en relation 
                                des proprétaires souhaitant louer leur(s) bien(s) immobilier(s) et des voyageurs.
                                Les propriétaires qui s'inscrivent peuvent déposer leurs annonces. Et les personnes ayant besoin d'un logement d'appoint 
                                ont la possibilités de réserver en ligne le bien qui les interessent.
                                <br>
                                <small>
                                Technologies : Symfony, WebPack Encore, Doctrine, Twig, Php, PhpMyAdmin.
                               </small>
                            </span>
                            </p>      
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3  white border border-white  text-center py-5">
                            <p>CODAGE BACK-END</p>       
                            <h2 class="title-part-2 pb-5">SYMFONY 4</h2>
                            <div class="col-12  d-none d-lg-block" data-aos="flip-left" data-aos-duration="2000">
                            <a><img src="../../../assets/img/screen-symAgence.jpg" class="p-3 mb-5 img-fluid hoverable" alt="photo Symfony 4 SymAgence" data-toggle="modal" data-target="#ModalSymAgence"></a>
                           </div>
                           <div class="col-12  d-block d-lg-none">
                               <a><img src="../../../assets/img/screen-symAgence.jpg" class="p-3 mb-5 img-fluid hoverable" alt="photo Symfony 4 SymAgence" data-toggle="modal" data-target="#ModalSymAgence"></a>
                              </div>
                            <p>PROJET DE</p>
                            <h2 class="title-part-3">vente</h2>
                            <p class="title-part-4">immobilière</p>
                            <p class='text-left pt-2 px-4 px-sm-2 px-md-1 px-lg-2 px-xl-4'>
                                <strong>Ce projet de vente immobilière permet de mettre en relation des propriétaires souhaitant vendre leurs biens et des acquéreurs</strong><br><br>
                                <a href="#nogo" class="suite btn-suite" data-target="vente"> Lire la suite</a>
                                <span class="vente" style="display:none;">  
                                Les propriétaires qui s'inscrivent peuvent déposer leur annonce. Et les personnes ayant besoin d'acheter un logement 
                                ont la possibilités de de le faire grâce à des filtres qui facilitent leur recherche.<br>
                                <small>
                                   Technologies : Symfony, Doctrine, Twig, Php, PhpMyAdmin.
                                  </small>
                                </span>
                            </p> 
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 white border border-white text-center py-5">
                            <p>CODAGE FRONT-END</p>
                            
                            <h2 class="title-part-2 pb-5">ANGULAR 6</h2>
                            <div class="col-12 d-none d-lg-block" data-aos="flip-left" data-aos-duration="2000">
                                <a><img src="../../../assets/img/screen-angResto.jpg" class="p-3 mb-5 img-fluid hoverable" alt="photo Angular 6" data-toggle="modal" data-target="#ModalAngResto"></a>
                           </div>
                           <div class="col-12 d-block d-lg-none">
                               <a><img src="../../../assets/img/screen-angResto.jpg" class="p-3 mb-5 img-fluid hoverable" alt="photo Angular 6" data-toggle="modal" data-target="#ModalAngResto"></a>
                          </div>
                            <p>PROJET DE</p>
                            <h2 class="title-part-3">réservation</h2>
                            <p class="title-part-4">au restaurant</p>
                            <p class='text-left pt-2 px-4 px-sm-2 px-md-1 px-lg-2 px-xl-4'>
                                <strong>La Tablée du Développeur est un projet qui a de quoi assouvir l'appétit ou les appétences de codage.</strong><br><br>
                                <a href="#nogo" class="suite btn-suite" data-target="reserv"> Lire la suite</a>
                                <span class="reserv" style="display:none;"> 
                                Cette application mobile permet de réserver une table avec une  réactivité en temps réel.
                            <br>
                            <small>
                               Technologies : Angular, Material Design.
                              </small>
                               </span>
                            </p> 
                           
                        </div>
                    </div><!--FIN ROW DEVELOPPEMENT-->
                </div><!--FIN Container DEVELOPPEMENT--> 
                
                <!--FIN PORTFOLIO DEVELOPPEMENT-->
           
               <!-- Titre 2 -->
               
               <div id="info" class="offset-0 col-12  white border border-white  text-left
                                    mt-0 pt-4 pt-sm-0  pt-md-5 mt-sm-3 mt-md-2 mt-lg-2 mt-xl-1">               
                   
                <div class="container">        
                       <div class="row py-5">
                           <div class="col-12  col-sm-3    
                                       text-center
                                       pr-lg-4 
                                       white border border-white">          
                               <div class="contain">        
                                   <div><img src="../../../assets/img/polygone-titre1.jpg" class="img-fluid" alt="photo"></div>
                                   <div class="centered"><i class="fab fa-adobe"></i></div>
                               </div>
                            </div>
                            <div class="title-part-1 col-12 col-sm-9 col-md-9 col-lg-9     
                                        text-center text-sm-left
                                        mt-0 pt-4 pt-sm-0  pt-md-4 mt-sm-3 mt-md-2 mt-lg-2 mt-xl-1
                                        white border border-white">              
                               <div class="mt-sm-0 mt-md-1 mt-lg-0"><h1>infographie</h1></div>
                               <div class="trait mt-sm-0 mt-md-2 mt-lg-1 mt-xl-1 text-center "></div>
                           </div>
                       </div>
                    </div>
               </div>               
                                 
               <div class="container-fluid">      
                   <div class="row text-center mb-5 px-sm-5">
                       <div class="col-12 mb-4">              
                           <h2 class="display-3">Quelques travaux graphiques</h2>
                       </div>
                       <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-4"> 
                           <div class="view overlay zoom hoverable">            
                               <img src="../../../assets/img/thumb-graph-01.jpg"  class="w-100 h-100">        
                               <a  href="#myModal01"  data-toggle="modal"  class="mask flex-center rgba-black-light">                                                
                                   <p class="white-text"><i class="fas fa-search fa-3x"></i></p>       
                               </a>
                           </div>               
                       </div>
                       <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-4"> 
                           <div class="view overlay zoom hoverable">            
                               <img src="../../../assets/img/thumb-graph-02.jpg"  class="w-100 h-100">
                              
                               <a  href="#myModal02"  data-toggle="modal"  class="mask flex-center rgba-black-light">                                                
                                   <p class="white-text"><i class="fas fa-search fa-3x"></i></p>       
                               </a>
                           </div>               
                       </div>
                       <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-4"> 
                           <div class="view overlay zoom hoverable">            
                               <img src="../../../assets/img/thumb-graph-03.jpg"  class="w-100 h-100">
                              
                               <a  href="#myModal03"  data-toggle="modal"  class="mask flex-center rgba-black-light">                                                
                                   <p class="white-text"><i class="fas fa-search fa-3x "></i></p>       
                               </a>
                           </div>               
                       </div>
                       <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-4"> 
                           <div class="view overlay zoom hoverable">            
                               <img src="../../../assets/img/thumb-graph-04.jpg" class="w-100 h-100 ">
                              
                               <a  href="#myModal04"  data-toggle="modal"  class="mask flex-center rgba-black-light">                                                
                                   <p class="white-text"><i class="fas fa-search fa-3x "></i></p>       
                               </a>
                           </div>               
                       </div>                                  
                   </div>
               </div>
               <div class="col-12   text-center pt-0">
                   <p>Vous souhaitez en savoir plus ?</p>                   
                   <h2 class="title-part-2 pb-1"><strong>Visitez au format PDF</strong></h2>  
               </div>
                <div class="col-12 col-lg-6 mb-2  pl-sm-5 pr-sm-5 pl-lg-5 pr-lg-3 ">   
                       <a href="../../../assets/img/jg_book_print_web.pdf#toolbar=0"  
                          target="_blank"            
                          role="button" 
                          class="btn btn-outline-primary btn-block"
                          style="color:rgba(67, 165, 190,1)!important;  border:6px solid rgba(67, 165, 190,1)!important;">     
                           <h3 class="btn-text"> <i class="fas fa-file-pdf"></i> premier book</h3>
                       </a>         
                </div>
                  
                <div class="col-12 col-lg-6 mb-2  pl-sm-5 pr-sm-5 pl-lg-3 pr-lg-5 ">
                   <a href="../../../assets/img/book_print.pdf#toolbar=0"  
                      target="_blank"            
                      role="button" 
                      class="btn btn-outline-primary btn-block"
                       style="color:rgba(67, 165, 190,1)!important;  border:6px solid  rgba(67, 165, 190,1)!important;">     
                       <h3 class="btn-text"> <i class="fas fa-file-pdf"></i> deuxième book</h3>
                   </a>  
                   <div id="draw"></div>       
               </div>
                            
                <!-- Titre 3 -->
                
                <div class="col-12  white border border-white  text-left">
                   <div class="container">
                       <div class="row py-5 mt-5">
                           <div class="col-12  col-sm-3    
                                       text-center
                                       pr-lg-4 
                                       white border border-white ">
                               <div class="contain">        
                                   <div><img src="../../../assets/img/polygone-titre1.jpg" class="img-fluid" alt="dessins"></div>
                                   <div class="centered "><i class="fas fa-pencil-alt"></i></div>
                               </div>
                            </div>
                            <div class="title-part-1 col-12 col-sm-9 col-md-9 col-lg-9     
                                        text-center text-sm-left
                                        mt-0 pt-4 pt-sm-0  pt-md-4 mt-sm-3 mt-md-2 mt-lg-2 mt-xl-1
                                        white border border-white">       
                            <div class="mt-sm-0 mt-md-1 mt-lg-0"><h1>dessins</h1></div>
                            <div class="trait mt-sm-0 mt-md-2 mt-lg-1 mt-xl-1 text-center "></div>
                            </div>                 
                           </div>
                       </div>
                    </div>
                   </div> <!--FIN ROW PORTFOLIOS -->
       
               <!-- GALERIE DE PORTRAITS -->
               <div class="container-fluid">      
                   <div class="row text-center mb-5 px-sm-5">           
                       <div class="col-12   text-center pt-5 ">
                           <p>Portraits dessinés en noir et blanc aux</p>                   
                           <h2 class="title-part-2 pb-1">crayons graphites</h2> 
                       </div>
                       <div class="col-12 col-sm-6 col-md-4  mb-4 "> 
                           <div class="view overlay zoom hoverable">            
                               <img src="../../../assets/img/thumb-dess-01.jpg"  class="w-100 h-100">        
                               <a  href="#myModalDess01"  data-toggle="modal"  class="mask flex-center rgba-black-light">                                                
                                   <p class="white-text"><i class="fas fa-search fa-3x"></i></p>       
                               </a>
                           </div>               
                       </div>
                       <div class="col-12 col-sm-6 col-md-4  mb-4"> 
                           <div class="view overlay zoom hoverable">            
                               <img src="../../../assets/img/thumb-dess-02.jpg"  class="w-100 h-100">
                              
                               <a  href="#myModalDess02"  data-toggle="modal"  class="mask flex-center rgba-black-light">                                                
                                   <p class="white-text"><i class="fas fa-search fa-3x"></i></p>       
                               </a>
                           </div>               
                       </div>
                       <div class="col-12 col-sm-6 mx-sm-auto col-md-4  mb-4"> 
                           <div class="view overlay zoom hoverable">            
                               <img src="../../../assets/img/thumb-dess-03.jpg"  class="w-100 h-100">                            
                               <a  href="#myModalDess03"  data-toggle="modal"  class="mask flex-center rgba-black-light">                                                
                                   <p class="white-text"><i class="fas fa-search fa-3x "></i></p>       
                               </a>
                           </div>               
                       </div>
                       <div class="col-12   text-center pt-5">
                           <p>Portraits dessinés en couleur avec des</p>                   
                           <h2 class="title-part-2 pb-1">techniques pastels et mixtes</h2> 
                       </div>
                       <div class="col-12 col-sm-6 col-md-4 mb-4"> 
                           <div class="view overlay zoom hoverable">            
                               <img src="../../../assets/img/thumb-dess-04.jpg"  class="w-100 h-100 ">
                              
                               <a  href="#myModalDess04"  data-toggle="modal"  class="mask flex-center rgba-black-light">                                                
                                   <p class="white-text"><i class="fas fa-search fa-3x "></i></p>       
                               </a>
                           </div>               
                       </div>
                       <div class="col-12 col-sm-6 col-md-4 mb-4"> 
                           <div class="view overlay zoom hoverable">            
                               <img src="../../../assets/img/thumb-dess-05.jpg"  class="w-100 h-100 ">
                              
                               <a  href="#myModalDess05"  data-toggle="modal"  class="mask flex-center rgba-black-light">                                                
                                   <p class="white-text"><i class="fas fa-search fa-3x "></i></p>       
                               </a>
                           </div>               
                       </div>
                       <div class="col-12 col-sm-6 mx-sm-auto  col-md-4 mb-4"> 
                           <div class="view overlay zoom hoverable">            
                               <img src="../../../assets/img/thumb-dess-06.jpg"  class="w-100 h-100 ">
                              
                               <a  href="#myModalDess06"  data-toggle="modal"  class="mask flex-center rgba-black-light">                                                
                                   <p class="white-text"><i class="fas fa-search fa-3x "></i></p>       
                               </a>
                           </div>               
                       </div>         
                   </div>
               </div>
               <div class="col-12   text-center pt-0">
                   <p>Vous souhaitez en voir plus ?</p>                   
                   <h2 class="title-part-2 pb-1"><strong>Rendez-vous sur</strong></h2> 
               </div>              
               <div class="col-6 mx-auto mb-2 ">
                   <a href="https://www.instagram.com/julien_goscicki/" target="_blank" class="btn btn-outline-primary btn-block" target="_blank" role="button"><h3 class="btn-text"> <i class="fab fa-instagram"></i> <span class="d-none d-sm-inline"> instagram</span></h3></a>      
               </div>
</div>