<div id="about" class="py-1"></div>
<section>
        <div class="container mt-5 pt-5" id="top_apropos" >
             <div class="jumbotron" id="apropos"
             data-aos="fade"
             data-aos-offset="300"
             data-aos-easing="ease-in-sine"              
             >
             
                    <div class="row" >
                        <div class="col-12 mb-2">
                            <h1>Bienvenue sur mon site web !</h1>
                            
                        </div>
                    <div class="col-md-6">
                        <p class="h4 mt-5"><strong>La Conquête de l'Espace</strong>
                        <br>C'est :</p>
                    <p class="lead">
                        <li>Du Responsive Web Design</li>
                        <li>Un axe à plusieurs dimensions</li>
                        <li>Une représentation d'Internet</li>
                        <li>Une représentation d'Internet</li>
                    </p>
                    </div>
                    <div class="col-md-6"> 
                        <p class="h4 mt-5"><strong>La Maîtrise du Temps</strong>
                        <br>C'est :</p>         
                        <p class="lead">
                            <li>La technologie réactive</li>
                            <li>Parcourir l'espace avec un mimimum de latence</li>
                        <br>- 
                        </p>
                </div>
            </div>
                <hr class="my-4">
                <div class="row">
                    <div class="col-12 ">
                      <p class="h4 mb-4"><strong>Pourquoi à 360 degrès ?</strong></p>
                    </div>
                    <div class="col-md-6">
                    <p>     
                        Afin d'apporter une qualité de service !
                        <br> <br>Maîtrisant le <strong>graphisme print</strong>  et <strong>web</strong> ; <br>
                        je suis de plus <strong>polyvalent en tant qu'Infographiste et Développeur Web </strong>.
                    </div>
                    <div class="col-md-6">         
                        <p>
                        Ayant réalisé ce site avec les <strong>technologies</strong> suivantes :<br>
                        <img src="../../../assets/img/angular_solidBlack.svg" alt="logo angular"><strong>Angular 9</strong> | <i class="fab fa-js"></i> <strong> JavaScript et jQuery</strong> | <i class="fab fa-html5"></i><strong> HTML 5</strong> |
                        <br><i class="fab fa-css3-alt"> <br></i><strong> CSS 3 & 4</strong> | <i class="fab fa-bootstrap"></i><strong> Bootstrap 4 et Material Design Bootstrap</strong>
                        <br>vous trouverez une liste exhaustive des technologies que je pratique            
                    </p>
                    <p class="lead">
                        <button class="btn btn-lg" (click)="goToTechno()"
                             ><i class="fas fa-cog"></i> Technologies</button>       
                    </p>
                  </div>
              </div>
            </div>
        </div>
    </section>

