  <!-- PARCOURS-->     
        <!-- Titre 7 -->
<div id="course"></div>
<div>
 <div class="offset-0 col-12 white border border-white text-left">
    <div class="container py-5">
        <div class="row py-5 mt-3">
            <div class="col-12  col-sm-3    
                        text-center
                        pr-lg-4 
                        white border border-white ">
                <div class="contain">        
                    <div><img src="../../../assets/img/polygone-titre1.jpg" class="img-fluid" alt="outils"></div>
                    <div class="centered "><i class="fas fa-briefcase"></i></div>
                </div>
             </div>
             <div class="title-part-1 col-12 col-sm-9 col-md-9 col-lg-9     
                    text-center text-sm-left
                    mt-0 pt-4 pt-sm-0  pt-md-4 mt-sm-3 mt-md-2 mt-lg-2 mt-xl-1
                    white border border-white">
                <div class="mt-sm-0 mt-md-1 mt-lg-0"><h1>Parcours</h1></div>
                <div class="trait mt-sm-0 mt-md-2 mt-lg-1 mt-xl-1 text-center "></div>
            </div>
        </div>
     </div>
        <div class="row px-sm-5">
         <div class="col-12 col-sm-6 col-md-6 col-lg-6  col-xl-3 white   text-center py-5">
             <p> <i class="fa fa-cogs fa-2x cv" aria-hidden="true"></i> </p>
                         
             <h2 class="title-part-3 pt-2">compétences</h2>   
             <p class="title-part-4">PROFESSIONNELLES</p>   
             <button class="but my-3 btn btn-block py-2 mb-2" data-target="compmobile">Développement Mobile<br><i class="fas fa-angle-down"></i></button>
             <div class="row compmobile"  style="display:none;">
                 <div class="px-4">                            
                     <h6 class="text-left"><i class="fa fa-circle"></i> Coder des applications mobiles</h6>                
                 </div>
             </div> 
                 <button class="but my-3 btn btn-block py-2 mb-2" data-target="compweb">Développement WEb<br><i class="fas fa-angle-down"></i></button>
                 <div class="row compweb"  style="display:none;">
                <!-- <h4><strong>INTERNET</strong></h4>-->
                     <div class="px-4">
                         <h6 class="text-left"><i class="fa fa-circle"></i> Coder des sites web :</h6>
                             <p class="text-left">- en lien avec une base de données</p>      
                             <p class="text-left">- au format RWD adaptable (Destkop, Tablet, Mobile)</p>                                                          
                     </div>
                    </div>
                 <button class="but my-3 btn btn-block py-2 mb-2" data-target="compgraweb" >GRAPHISME WEB<br><i class="fas fa-angle-down"></i></button>
                 <div class="row compgraweb" style="display:none;">
                     <div class="text-left px-4">
                         <h6 class="text-left" style="display:inline;"><i class="fa fa-circle"></i> Créer et réaliser des campagnes de mailing</h6>                            
                     </div>
                 </div>
                 <button class="but my-3 btn btn-block py-2 mb-2" data-target="compred">rédaction<br><i class="fas fa-angle-down"></i></button>
                 <div class="row compred" style="display:none;">        
                     <div class="text-left px-4">          
                         <h6 class="text-left" style="display:inline;"><i class="fa fa-circle"></i> Rédiger des textes</h6>
                         <p style="display:inline;">sans faute d'orthographe ni de grammaire</p> <br>                
                     </div>
                 </div>
                 <button class="but my-3 btn btn-block py-2 mb-2" data-target="compgra">GRAPHISME<br><i class="fas fa-angle-down"></i></button>
                 <div class="row compgra" style="display:none;">        
                     <div class="text-left px-4">          
                         <h6 class="text-left" style="display:inline;"><i class="fa fa-circle"></i> Réaliser les éléments graphiques</h6>
                         <p style="display:inline;">Illustrations, logos, pictos</p> <br> 
                         <h6 class=""><i class="fa fa-circle"></i> Traduire un concept en représentation visuelle.</h6>                
                     </div>
                 </div>
                 <button class="but my-3 btn btn-block py-2 mb-2" data-target="compphot" >PHOTOGRAPHIE<br><i class="fas fa-angle-down"></i></button>
                 <div class="row compphot" style="display:none;">
                     <div class="text-left px-4">
                        <h6 class="text-left" style="display:inline;"><i class="fa fa-circle"></i> Traiter des images numeriques :</h6>                
                        <p style="display:inline;">photo&shy;montages, cadrages,  colorimétrie, etc.</p> <br>   
                        <h6 class="text-left" style="display:inline;"><i class="fa fa-circle"></i> Réaliser des shoots photos</h6>                    
                     </div>
                 </div>
                 <button class="but my-3 btn btn-block py-2 mb-2" data-target="comppao" >PAO<br><i class="fas fa-angle-down"></i></button>
                 <div class="row comppao" style="display:none;">
                     <div class="text-left px-4">
                       <h6 class="text-left" style="display:inline;"><i class="fa fa-circle"></i> Créer et réaliser des mises en pages</h6>                
                       <p style="display:inline;">selon les règles typo&shy;graphiques et la charte graphique.</p> 
                     </div>
                 </div>

             </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6  col-xl-3 white   text-center py-5">
                    <p> <i class="fa fa-laptop fa-2x cv" aria-hidden="true"></i></p>                 
                    <h2 class="title-part-3 pt-2">EXPÉRIENCE</h2> 
                    <p class="title-part-4">PROFESSIONNELLE</p> 

                    <button class="but my-3 btn btn-block py-2 mb-2" data-target="exp01">2019<br><i class="fas fa-angle-down"></i></button>
                    <div class="row exp01"  style="display:none;">
                    <h4><strong></strong></h4>
                        <div class="px-4">
                            <h6 class="text-left"><i class="fa fa-circle"></i> Infographiste</h6>
                                <p class="text-left"><em>Eleven Créations</em> - Pierrelatte</p> 
                        </div>
                    </div>  
                    <button class="but my-3 btn btn-block py-2 mb-2" data-target="exp02">2018<br><i class="fas fa-angle-down"></i></button>
                    <div class="row exp02"  style="display:none;">
                    <h4><strong></strong></h4>
                        <div class="px-4">
                            <h6 class="text-left"><i class="fa fa-circle"></i> Travaux de PAO</h6>
                                <p class="text-left"><em>Associations</em> - Meysse <br>
                                <em>Concours d’affiches</em> - Saoû</p> 
                        </div>
                    </div>  
                    <button class="but my-3 btn btn-block py-2 mb-2" data-target="exp03">2017 -> 2018<br><i class="fas fa-angle-down"></i></button>
                    <div  class="row exp03" style="display:none;">
                        <div class="px-4">
                            <h6 class="text-left "><i class="fa fa-circle"></i> Intégrateur</h6>
                                <p class="text-left"><em>Panoramic Perception</em> - Alès</p>                  
                        </div>                   
                    </div>      
                    <button class="but my-3 btn btn-block py-2 mb-2" data-target="exp04">2016<br><i class="fas fa-angle-down"></i></button>
                    <div  class="row exp04" style="display:none;">
                        <div class="px-4">
                            <h6 class="text-left "><i class="fa fa-circle"></i> Opérateur d'Impression Numérique</h6>
                                <p class="text-left"><em>Impressions Fombon</em> - Aubenas</p>                  
                        </div>                   
                    </div>     
                    <button class="but my-3 btn btn-block py-2 mb-2" data-target="exp05">2015<br>et plus<br><i class="fas fa-angle-down"></i></button>

                    <div  class="row exp05" style="display:none;">
                        <div class="px-4">
                            <h6 class="text-left "><i class="fa fa-circle"></i> Plus d'informations ?</h6>
                                <p class="text-left">Consultez mon CV au format pdf !</p>                  
                        </div>                   
                    </div>              
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6  col-xl-3 white   text-center py-5">
                    <p> <i class="fa fa-certificate fa-2x cv" aria-hidden="true"></i> </p>                     
                    <h2 class="title-part-3 pt-2">CERTIFICATION</h2>   
                    <p class="title-part-4">PROFESSIONNELLE</p>                            
                    <button  class="but my-3 btn btn-block py-2 mb-2" data-target="form01">2017 -> 2018<br><i class="fas fa-angle-down"></i></button>
                    <div class="row form01"  style="display:none;">
                      
                            <div class="px-4">
                                <h6 class="text-left"><i class="fa fa-circle"></i>  Titre professionnel</h6>
                                    <p class="text-left"><em>Développeur Logiciel</em><br>                    
                                    Ecole régionale
                                    du numérique CODA<br>  
                                    by Simplon - Alès </p><br>  
                            </div>
                        </div> 
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6  col-xl-3 white   text-center py-5">
                    <p> <i class="fa fa-star fa-2x cv" aria-hidden="true"></i> </p>                       
                    <h2 class="title-part-3 pt-2">CENTRES</h2>   
                    <p class="title-part-4">D'intérêt</p>   
                    <button class="but my-3 btn btn-block py-2 mb-2"  data-target="dessin">Dessin<br><i class="fas fa-angle-down"></i></button>
                    <div class="row dessin"  style="display:none;">
                    <div class='px-4'>   
                            <h6 class="text-left"><i class="fa fa-circle"></i> Portrait</h6>
                            <h6 class="text-left"><i class="fa fa-circle"></i> Graphisme</h6>
                        </div>
                    </div>
                    <button class="but my-3 btn btn-block py-2 mb-2" data-target="sport">Sport<br><i class="fas fa-angle-down"></i></button>
                    <div class="row sport"  style="display:none;" >               
                        <div class="px-4">
                            <h6 class="text-left"><i class="fa fa-circle"></i> Marche Nordique</h6>
                            <h6 class="text-left"><i class="fa fa-circle"></i> Randonnée</h6>        
                        </div>
                    </div>
                </div>
                    <div class="col-12   text-center pt-0">
                        <p>Rejoignez moi </p>                   
                        <h2 class="title-part-2 pb-1"><strong>sur le réseau pro</strong></h2> 
                    </div>                     
                    <div class="col-6 mx-auto mb-2 ">
                        <a href="https://fr.linkedin.com/in/julien-goscicki-93241115b?trk=people_directory"   class="btn btn-outline-primary btn-block"  target="_blank" role="button"><h3 class="btn-text"> <i class="fab fa-linkedin"></i> <span class="d-none d-sm-inline"> Linkedin</span></h3></a>      
                    </div>          
            </div>  
    </div>
</div>