<!-- Tecnologies -->
    
    <div id="graph" class="offset-0 col-12  white border border-white  text-left">
       <div class="container py-3">
           <div class="row py-5 mt-5">
               
               <div class="col-12  col-sm-3    
                           text-center
                           pr-lg-4 
                           white border border-white ">     
                   <div class="contain">        
                       <div><img src="../../../assets/img/polygone-titre1.jpg" class="img-fluid" alt="outils"></div>
                       <div class="centered "><i class="fas fa-cog"></i></div>
                   </div>
                </div>
                <div class="title-part-1 col-12 col-sm-9 col-md-9 col-lg-9     
                            text-center text-sm-left
                            mt-0 pt-4 pt-sm-0  pt-md-4 mt-sm-3 mt-md-2 mt-lg-2 mt-xl-1
                            white border border-white">
                <div class="mt-sm-0 mt-md-1 mt-lg-0"><h1>technologies</h1></div>
                <div class="trait mt-sm-0 mt-md-2 mt-lg-1 mt-xl-1 text-center "></div>
            </div>
            </div>
           </div><!--Fin Container Titre Technologies-->
        </div><!--Fin COL Titre Technologies-->
   

   <div id="logiciels"></div>      
   <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-7  mx-auto white border border-white  text-center">           
        <h2 class="mt-5  display-3">Graphisme & PAO</h2>               
       <div class="row">
           <div class="col-12 white border border-white  text-center">
           <button class="but  btn btn-block  my-3 py-2 mb-2" data-target="loginfo" ><i class="fab fa-adobe"></i> Suite Adobe<br><i class="fas fa-angle-down"></i></button>
               <div class="row loginfo" style="display:none;">
                   <div class="col-6 col-sm-4 offset-lg-3 col-lg-2 col-xl-2  white border border-white">
                       <a href="#infographie" class="js-scrollTo">
                       <img  src="../../../assets/img/logos/ad_phot.svg" class="hoverable img-fluid border border-black p-2" alt="Logo Photoshop">
                       <span class="d-block pt-2">Photoshop</span></a>
                   </div>
                   <div class="col-6 col-sm-4 col-lg-2 col-xl-2 white border border-white">
                       <a href="#infographie" class="js-scrollTo">
                       <img src="../../../assets/img/logos/ad_ill.svg" class="hoverable  img-fluid border border-black p-2" alt="Logo Illustrator">
                       <span class="d-block pt-2">Illustrator</span></a>

                   </div>
                   <div class="col-6 offset-3 col-sm-4 col-lg-2 offset-sm-0 white border border-white">
                       <a href="#infographie" class="js-scrollTo">
                       <img src="../../../assets/img/logos/ad_ind.svg" class="hoverable img-fluid border border-black p-2" alt="Logo InDesign">
                       <span class="d-block pt-2">InDesign</span></a>
                   </div>
               </div>
           </div>
       </div>
   </div>
      
   <div class="container-fluid" id="devF">
   <div class="row">       
   <div class="col-12 col-xl-6 text-center white border border-white my-4 px-sm-5">            
       <h2 class="mt-5 display-3">Développement Front-End</h2>
   <div class="row">
       <div class="col-12 col-sm-4 col-md-4 col-lg-4 white border border-white  text-center">
           <button  class="but my-3 btn btn-block py-2 " data-target="langfe">Langages<br><i class="fas fa-angle-down"></i></button>
           <div class="row langfe" style="display:none;">    
             
               <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6   white border border-white  text-center ">
                   <a href="#folio" class="js-scrollTo">
                   <img src="../../../assets/img/logos/html5.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo HTML 5">
                   <span class="d-block pt-2">HTML 5</span></a>  
               </div>
               
               <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6   white border border-white  text-center">
                   <a href="#folio" class="js-scrollTo">
                   <img src="../../../assets/img/logos/CSS3.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo CSS 3">
                   <span class="d-block pt-2">CSS 3</span> </a>      
               </div>
               <div class="col-6 col-sm-8 mx-sm-auto col-md-6  col-lg-6  mt-sm-2  mt-md-3     mt-lg-3 pt-lg-0 white border border-white  text-center ">
                   <a data-toggle="modal" data-target="#ModalAngResto">
                   <img src="../../../assets/img/logos/js.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo JavaScript">
                   <span class="d-block pt-2">JS</span></a>     
               </div>
               <div class="col-6 col-sm-8 mx-sm-auto  mt-sm-2 col-md-6  col-lg-6 mt-md-3   mt-lg-3 pt-lg-0   white border border-white  text-center ">
                   <a href="#folio" class="js-scrollTo">
                   <img src="../../../assets/img/logos/json.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo JSON">
                   <span class="d-block pt-2">JSON</span></a>       
               </div>
               <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6 mt-md-3 mt-lg-3 white border border-white text-center ">
                   <a href="#folio" class="js-scrollTo">
                   <img src="../../../assets/img/logos/ajax.svg" class="hoverable p-2 img-fluid border border-black" alt="Logo Ajax">
                   <span class="d-block pt-2">Ajax</span></a>       
               </div>
           </div>       
       </div>
          

       <div class="col-12 col-sm-4 col-md-4 col-lg-4    white border border-white  text-center" id="contenu2">

           <button  class="but my-3 btn btn-block py-2 mb-2" data-target="framfe">Frame&shy;works<br><i class="fas fa-angle-down"></i></button>
           
           <div class="row framfe" style="display:none;">

               <div class="col-6 col-sm-8 mx-sm-auto  col-md-6 offset-md-2  col-lg-6  offset-lg-0  mt-lg-0  white border border-white  text-center">
                   <a href="#folio" class="js-scrollTo">
                   <img src="../../../assets/img/logos/bootstrap.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo Bootstrap">
                   <span class="d-block pt-2">Bootstrap</span></a>      
               </div>

               <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6 mt-lg-0   white border border-white  text-center">
                   <a href="#folio" class="js-scrollTo">
                   <img src="../../../assets/img/logos/angular.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo Angular">
                   <span class="d-block pt-2">Angular</span></a>      
               </div>

        

               <div class="col-6 col-sm-8 mx-sm-auto col-md-6  col-lg-6 mt-md-3  white border border-white  text-center">
                   <a href="#Modal3js"  data-toggle="modal"> <img src="../../../assets/img/logos/cordova.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo Cordova"> 
                   <span class="d-block pt-2">Cordova</span></a>
               </div>  

           </div>
       </div>  

       <div class="col-12 col-sm-4 col-md-4 col-lg-4">
           <div class="row">
               <div class="col-12 white border border-white  text-center ">
                   <button class="but my-3 btn btn-block py-2 mb-2" data-target="librfe">Librairies<br><i class="fas fa-angle-down"></i></button>
                  
                   <div class="row librfe"  style="display:none;">
                 
                       <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6 white border border-white  text-center">
                           <a href="#folio" class="js-scrollTo">
                           <img src="../../../assets/img/logos/jquery.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo jQuery">
                           <span class="d-block pt-2">jQuery</span></a>      
                       </div>  

                    
                       <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6 white border border-white  text-center">
                           <a data-toggle="modal" data-target="#Modal3js">
                           <img src="../../../assets/img/logos/3js.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo Three.JS">
                           <span class="d-block pt-2"> Three.JS</span></a>        
                       </div>  
                       <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6 mt-sm-2 mt-md-3 mt-lg-3 pt-lg-0 white border border-white  text-center ">
                           <a href="#folio" class="js-scrollTo">
                           <img src="../../../assets/img/logos/react.svg"  class="hoverable p-2 img-fluid border border-black " alt="Logo JavaScript">
                           <span class="d-block pt-2">React</span></a>     
                       </div>
                   </div>  
               </div>
           </div>
       </div>
  
        <div class="col-12 white border border-white  text-center">
            <button class="but my-3 btn btn-block py-2 mb-2" data-target="cmsfe"><strong>C</strong>ontent <strong>M</strong>anagement<strong> S</strong>ystem<br><i class="fas fa-angle-down"></i></button>
            <div class="row cmsfe"  style="display:none;">
                <div class="col-6 col-sm-3 mx-sm-auto col-md-2   white border border-white text-center h-100">
                   <a href="#folio" class="js-scrollTo">
                    <img src="../../../assets/img/logos/prestashop.svg" class="hoverable img-fluid  p-2 border border-black " alt="Logo PrestaShop">
                    <span class="d-block pt-2">Presta&shy;Shop</span></a> 
                </div> 
                <div class="col-6 col-sm-3 mx-sm-auto col-md-2  white border border-white text-center h-100">
                   <a href="#folio" class="js-scrollTo"> 
                    <img src="../../../assets/img/logos/wordpress.svg" class="hoverable p-2 img-fluid border border-black" alt="Logo WordPress">
                    <span class="d-block pt-2">Word&shy;Press</span></a>     
                </div>                                     
            </div>               
        </div>
   </div>
</div><!--Fin COL Front-End-->
         
<div class="col-12 col-xl-6 text-center border border-white  my-4 px-sm-5">    
   <div id="devB"></div>          
   <h2 class="mt-5  display-3">Développement Back-End</h2>       
       <div class="row">
           <div class="col-12 col-sm-4 col-md-4 col-lg-4   white border border-white  text-center">  
               <button  class="but my-3 btn btn-block py-2 mb-2" data-target="langbe">Langages<br><i class="fas fa-angle-down"></i></button>
               <div class="row langbe"  style="display:none;">
                   <div class="col-6 col-sm-8 mx-sm-auto col-md-6  col-lg-6  white border border-white  text-center ">
                       
                       <a href="#folio" class="js-scrollTo"> 
                       <img src="../../../assets/img/logos/php.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo PHP">
                       <span class="d-block pt-2">PHP 7</span></a>        
                   </div>        
                   <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6   white border border-white  text-center ">
                       <a href="#folio" class="js-scrollTo"> 
                       <img src="../../../assets/img/logos/sql.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo SQL">
                       <span class="d-block pt-2">SQL</span></a>       
                   </div>
                   <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6   mt-md-3   mt-lg-3    white border border-white  text-center ">
                       <a href="#folio" class="js-scrollTo">
                       <img src="../../../assets/img/logos/mysql.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo mySQL">
                       <span class="d-block pt-2">mySQL</span></a>        
                   </div>         
               </div>
           </div>    
    
           <div class="col-12 col-sm-4 col-md-4 col-lg-4    white border border-white  text-center">
               <button class="but my-3 btn btn-block py-2 mb-2" data-target="frambe">Frame&shy;work<br><i class="fas fa-angle-down"></i></button>
               <div class="row frambe"  style="display:none;" id="fram-be">
                   <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6   white border border-white  text-center ">
                       <a href="#folio" class="js-scrollTo">
                       <img src="../../../assets/img/logos/symfony.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo Symfony">
                       <span class="d-block pt-2">Symfony</span></a>        
                   </div>
                   <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6    white border border-white  text-center ">
                       <a href="#folio" class="js-scrollTo">
                       <img src="../../../assets/img/logos/doctrine.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo Symfony">
                       <span class="d-block pt-2">Doctrine</span></a>      
                   </div>
                   <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6    mt-md-3   mt-lg-3   white border border-white  text-center ">
                       <a href="#folio" class="js-scrollTo">
                       <img src="../../../assets/img/logos/twig.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo Symfony">
                       <span class="d-block pt-2">Twig</span></a>       
                   </div>
                   <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6    mt-md-3   mt-lg-3   white border border-white  text-center ">
                       <a href="#folio" class="js-scrollTo">
                       <img src="../../../assets/img/logos/composer.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo Symfony">
                       <span class="d-block pt-2">Composer</span></a>        
                   </div>      
               </div>
           </div>  

           <div class="col-12 col-sm-4 col-md-4 col-lg-4   white border border-white  text-center">
              <button class="but my-3 btn btn-block py-2 mb-2" data-target="applbe">Appli&shy;cations<br><i class="fas fa-angle-down"></i></button>
                  <div class="row applbe"  style="display:none;">
                      <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6   white border border-white  text-center ">
                       <a href="#folio" class="js-scrollTo">
                          <img src="../../../assets/img/logos/git.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo Git">
                          <span class="d-block pt-2">Git</span></a>     
                      </div>
                      <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6   white border border-white  text-center ">
                       <a href="#folio" class="js-scrollTo">  
                       <img src="../../../assets/img/logos/github.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo Github">
                          <span class="d-block pt-2">Github</span></a>       
                      </div>
                      <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6 mt-md-3   mt-lg-3   white border border-white  text-center ">
                       <a href="#folio" class="js-scrollTo">
                          <img src="../../../assets/img/logos/apache-server.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo HTML 5">
                          <span class="d-block pt-2">Apache Server</span></a>        
                      </div>
                      <div class="col-6 col-sm-8 mx-sm-auto col-md-6 col-lg-6 mt-md-3 mt-lg-3   white border border-white  text-center ">
                       <a href="#folio" class="js-scrollTo"> 
                       <img src="../../../assets/img/logos/phpmyadmin.svg" class="hoverable p-2 img-fluid border border-black " alt="Logo HTML 5">
                          <span class="d-block pt-2">php&shy;MyAdmin</span></a>     
                      </div>
                  </div>
              </div>
                        
           </div> <!-- Fin Row Back-END -->    
          
       </div><!-- Fin Col-12 Back-end -->  


   </div>  <!-- Fin Row Front-End et Back-END -->   
</div><!-- Fin Container Front-End et Back-END -->  
