        <!-- FENETRES MODAL -->
        <section>
            <!-- Modal Guide asso -->
            <div class="modal fade" id="myModal01" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Guide des associations</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body text-center">
                            <img src="../../../assets/img/graph_01.jpg" style="max-width:60%; height:auto;" class="img-fluid border border-white mb-4" alt=""/>
                            <img src="../../../assets/img/graph_01b.jpg" style="max-width:60%; height:auto;" class="img-fluid border border-white" alt=""/>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>                           
                        </div>
                    </div>
                </div> 
            </div>
                <!-- Modal Nordic Walking -->
                <div class="modal fade" id="myModal02" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Affiche : Marche Nordique</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body text-center">
                            <img src="../../../assets/img/graph_02.jpg" style="max-width:55%; height:auto;" class="img-fluid border border-dark" alt="Affiche de la marche nordique"/>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>         
                        </div>
                    </div>
                    </div>
                </div>
            
                <!-- Modal GYM -->
                <div class="modal fade" id="myModal03" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Affiche : Gym Volontaire</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body text-center">
                            <img src="../../../assets/img//graph_03.jpg" style="max-width:55%; height:auto;" class="img-fluid border border-dark" alt=""/>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>        
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Modal Fete -->
                <div class="modal fade" id="myModal04" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Affiche : Fête du Picodon</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body text-center">
                                <img src="../../../assets/img/graph_04.jpg" style="max-width:45%; height:auto;" class="img-fluid border border-dark" alt="Affiche de la fête du Picodon"/>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Close</button>                               
                            </div>
                        </div>
                    </div>
                </div>
            <!-- Modal Johnny Hallyday -->
            <div class="modal fade" id="myModalDess04" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Portrait : Johnny Hallyday</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="../../../assets/img/dess_04.jpg" style="max-width:60%; height:auto;" class="img-fluid border border-dark" alt="Portrait de Johnny Hallyday"/>
        
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    
                    </div>
                </div>
                </div>
            </div>
            <!-- Modal Calvin Russel -->
            <div class="modal fade" id="myModalDess06" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Portrait : Calvin Russell</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="../../../assets/img/dess_06.jpg" style="max-width:60%; height:auto;" class="img-fluid border border-dark" alt="Portrait de Calvin Russell"/>
        
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    
                    </div>
                </div>
                </div>
            </div>
            <!-- Modal Mylene Farmer -->
            <div class="modal fade" id="myModalDess05" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Portrait : Mylène Farmer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="../../../assets/img/dess_05.jpg" style="max-width:60%; height:auto;" class="img-fluid border border-dark" alt="Portrait de Mylen Farmer"/>
        
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    
                    </div>
                </div>
                </div>
            </div>
             <!-- Modal Sharleen Spiterri -->
             <div class="modal fade" id="myModalDess03" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Portrait : Sharleen Spiterri (Texas)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="../../../assets/img/dess_03.jpg" style="max-width:60%; height:auto;" class="img-fluid border border-dark" alt="Portrait de Sharleen Spiterri"/>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    
                    </div>
                </div>
                </div>
            </div>
        
             <!-- Modal Gainsourg Birkin -->
             <div class="modal fade" id="myModalDess02" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Portrait : Serge Gainsbourg et Jane Birkin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="../../../assets/img/dess_02.jpg" style="max-width:60%; height:auto;" class="img-fluid border border-dark" alt="Portrait de Serge Gainsbourg et Jane Birkin"/>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>            
                    </div>
                </div>
                </div>
            </div>
        
        
             <!-- Modal BJORK -->
             <div class="modal fade" id="myModalDess01" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Portrait : Björk</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="../../../assets/img/dess_01.jpg" style="max-width:70%; height:auto;" class="img-fluid border border-dark" alt="Portrait de Bjork"/>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>         
                    </div>
                </div>
                </div>
            </div>
        
         
            <!-- Modal VIDEOS -->
             <!-- Modal Three.js -->
            <div class="modal fade" id="Modal3js" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Three.js & Cordova</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="embed-responsive embed-responsive-16by9">            
                        <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/Q5e32JFEXxM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>              
                    </div>
                </div>
                </div>
            </div>
            <!-- Modal SymBNB -->
            <div class="modal fade" id="ModalSymbnb" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">SymBNB</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="embed-responsive embed-responsive-16by9">   
                        <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/Hu_iifofJ1A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="https://github.com/Adoc7/Symfony4JgSymBnB" target="_blank" class="button btn"><i class="fab fa-github"></i> Voir sur Github</a>
                    <button type="button" class="btn" data-dismiss="modal">Close</button>   
                    </div>
                </div>
                </div>
            </div>
        
            <!-- Modal SymAgency --> 
            <div class="modal fade" id="ModalSymAgence" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">SymAgency</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="embed-responsive embed-responsive-16by9">          
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AZDBmDMj3xg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="https://github.com/Adoc7/Symfony4JgAgence" target="_blank" class="button btn"><i class="fab fa-github"></i> Voir sur Github</a>
                    <button type="button" class="btn" data-dismiss="modal">Close</button>     
                    </div>
                </div>
                </div>
            </div>
        
            <!-- Modal AngResto --> 
            <div class="modal fade" id="ModalAngResto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Angular Resto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body text-center">  
                        <div class="embed-responsive embed-responsive-16by9">          
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_rRwNqQlhgI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                            
                        </div>  
                    </div>
                    <div class="modal-footer">
                    <a href="https://github.com/Adoc7/RestoAngular6" target="_blank" class="button btn"><i class="fab fa-github"></i> Voir sur Github</a>
                    <button type="button" class="btn" data-dismiss="modal">Close</button>            
                    </div>
                </div>
                </div>
            </div>
            </section>