<div id="contacts"></div>
    <div class="py-5">
        <!-- Titre 8 -->
        
        <div class="offset-0 col-12  white border border-white  text-left">
            <div class="container">
                <div class="row py-5">
                    <div class="col-12  col-sm-3    
                                text-center
                                pr-lg-4 
                                white border border-white ">
                        <div class="contain">        
                            <div><img src="../../assets/img/polygone-titre1.jpg" class="img-fluid" alt="contacts"></div>
                            <div class="centered">
                                <i class="fas fa-comments"></i>
                                </div>
                        </div>
                    </div>
                    
                    <div class="title-part-1 col-12 col-sm-9 col-md-9 col-lg-9     
                                text-center text-sm-left
                                mt-0 pt-4 pt-sm-0  pt-md-4 mt-sm-3 mt-md-2 mt-lg-2 mt-xl-1
                                white border border-white">
                    <div class="mt-sm-0 mt-md-1 mt-lg-0"><h1>contacts</h1></div>
                    <div class="trait mt-sm-0 mt-md-2 mt-lg-1 mt-xl-1 text-center "></div>
                    </div>
                </div>           
            </div>
        </div>
    </div>
    <!-- Footer -->     
    <footer class="page-footer font-small elegant-color-dark pt-0">
    <!-- Footer Elements -->
    <div class="container-fluid">
    <!--Grid row-->
    <div class="row ">    
        <div class="parallax" style="box-shadow: -0.1em 0.2em 0.7em 0.4em rgba(10, 5, 40, 0.3) inset;">
            <div id="centered-phone">06 83 59 81 21</div>
        </div>
    </div>

    <div class="row mx-sm-5 mx-md-4 mx-lg-5  pt-sm-5"> 

    <div class="col-12 col-lg-6 col-xl-8 mb-4 pt-4">
    <!--    <h2 class="title-part-5">Me Contacter par E-mail</h2>  -->   
        <!-- Default form contact -->
    <h2 class="title-part-5 mb-2">réseaux sociaux</h2>
    <div class="text-center border border-light p-sm-2 p-md-5 p-xl-3 py-xl-5"  action="#!">
        <div class="row">
            <div class="col-12">           
                <div class="d-flex flex-row flex-wrap justify-content-around" >
                    <a href="https://github.com/Adoc7?tab=repositories" target="_blank" class="btn btn-dark  " role="button" aria-disabled="true"><i class="fab fa-github-square fa-7x"></i><span class="d-block ">Github</span></a>
                    <a href="https://www.youtube.com/channel/UCbiDv15jNAQf2ajsPlwqs7g" target="_blank" class="btn btn-dark  " role="button" aria-disabled="true"><i class="fab fa-youtube-square fa-7x "></i><span class="d-block ">Youtube</span></a>
                    <a href="https://www.instagram.com/julien_goscicki/" target="_blank" class="btn btn-dark" role="button" aria-disabled="true"><i class="fab fa-instagram  fa-7x"></i><span class="d-block">Instagram</span></a>     
                    <a href="https://fr.linkedin.com/in/julien-goscicki-93241115b?trk=people_directory" target="_blank" class="btn btn-dark" role="button" aria-disabled="true"><i class="fab fa-linkedin  fa-7x"></i><span class="d-block">LinkedIn</span></a>
                    <a href="#" class="btn btn-dark disabled" role="button" aria-disabled="true"><i class="fab fa-twitter-square  fa-7x"></i><span class="d-block">Tweeter</span></a>

                    <a href="#" class="btn btn-dark disabled" role="button" aria-disabled="true"><i class="fab fa-pinterest-square  fa-7x"></i><span class="d-block">Pinterest</span></a>
                    <a href="#" class="btn btn-dark disabled" role="button" aria-disabled="true"><i class="fab fa-flickr fa-7x"></i><span class="d-block">Flickr</span></a>
                    <a href="#" class="btn btn-dark disabled" role="button" aria-disabled="true"><i class="fab fa-facebook-square fa-7x"></i><span class="d-block">Facebook</span></a>
                    <!-- <a href="#" class="btn btn-dark disabled" role="button" aria-disabled="true"><i class="fab fa-dribbble-square fa-7x"></i><span class="d-block">Dribbble</span></a>  -->                        
                </div>
        <!--</div>-->
        <!--Grid column-->
            </div>
        <!--Grid row-->
        </div>
    </div>
 
    <!--Grid column-->
    <!--Grid column-->
        <div class="col-sm-12 col-md-12 mt-2 mb-4 pt-3"> 
        <h2 class="title-part-5">S'inscrire à ma NEWSLETTER</h2>
            <form class="input-group">         
                <input type="text" class="form-control form-control-sm disabled" placeholder="Votre e-mail"
                       aria-label="Your email" aria-describedby="basic-addon2">
                <div class="input-group-append">   
                <button class="btn btn-sm btn-outline-white disabled my-0" type="button">s'incrire</button>
                </div>
            </form>
        </div>
    
    </div>

    <div class="col-12 col-lg-6 col-xl-4  mb-4 pt-4">
        <!--    <h2 class="title-part-5">Me Contacter par E-mail</h2>  -->
        <h2 class="title-part-5 mb-2">Me Contacter</h2>
            <!-- Default form contact -->
            
        <form class="text-center border border-light p-5" action="#">
            <p class="text-left pt-lg-3 mb-3"><span class="h5">*</span> Champs obligatoires</p>
            <!-- Name -->
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" id="defaultContactFormFirstName" class="form-control disabled" placeholder="Prénom" disabled>
            </div>

            <div class="input-group  mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" id="defaultContactFormName" class="form-control" placeholder="Nom *" disabled>
            </div>

            <div class="input-group mb-4">
                <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-phone flip_H"></i></span>
                </div>
                <input type="text" id="defaultContactFormPhone" class="form-control" placeholder="Téléphone" disabled>
            </div>

                <!-- Email -->
                <div class="input-group  mb-4">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="email" id="defaultContactFormEmail" class="form-control" placeholder="E-mail *" disabled>                      
                </div>
                <!-- Subject -->
                <div class="input-group  mb-4">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-question"></i></span>
                    </div>
                    <select class="browser-default custom-select">
                        <option value="" selected disabled>Sujet *</option>
                        <option value="1" disabled >Retour d'information</option>
                        <option value="2" disabled> Signaler un bug</option>
                        <option value="3" disabled> Proposition</option>
                        <option value="4" disabled> Question</option>
                    </select>
                </div>

                <!-- Message -->
                <div class="input-group  mb-4">
                    <div class="input-group-prepend ">
                    <span class="input-group-text pt-0" style="padding-bottom:70px;"><i class="fas fa-comment"></i></span>
                    </div>
                    <textarea style=resize:none class="form-control rounded-0" id="exampleFormControlTextarea2" rows="4" placeholder="Message *"disabled></textarea>
                </div>
                

                <!-- Copy -->
                <div class="custom-control custom-checkbox mb-4">
                    <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
                    <label class="custom-control-label  " for="defaultContactFormCopy">Envoyez moi une copie du messsage</label>
                </div>  

            <!-- <div class="form-check form-check-inline mb-4">
                <input type="checkbox" class="form-check-input" id="defaultContactFormCopy">
                <label class="form-check-label" for="defaultContactFormCopy">Envoyez moi une copie du messsage</label>
            </div>  -->
            <!-- Send button -->
            <!--  <button class="btn btn-info btn-block" type="submit">Envoyer <i class="fas fa-paper-plane"></i></button>-->
            <button class="btn  btn-outline-white btn-block disabled my-0" type="submit" disabled><i class="fas fa-paper-plane"></i> Envoyer</button>
        </form>
        <!-- Default form contact -->
    </div>
    